header{
    background-color: antiquewhite;
    text-align: left;
    border: 2px solid black;
    padding: 1em;
}
.titletext{
    font-size: 3em;
    color: black;
    margin: 0;
}
.video{
    padding: 50px 20px;
    width: 95vw;
    height: 47.5vw;
}
.mains{
    background: linear-gradient(315deg, red, yellow, green, blue, violet);
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: black;
    text-align: center;
    border: 2px solid white;
    padding: 1em;
}
.footertext{
    font-size: 1em;
    color: white;
    margin: 0;
}